@CHARSET "UTF-8";

#tools-menu body{
    font-family: arial;	
}

#tools-menu li div{
    border: solid black 1px;
    display: inline-block;	
    padding: 1px;
    cursor: pointer;
    background-color: white;
}

#tools-menu .disabled div{
    background-color: #CCC;
}

#tools-menu #menus{
    display: flex;
    direction: row;
    justify-content: space-around;
}

#tools-menu .unchangable div{
    background-color: #fafafa;
    background-image: url('../images/background.gif');
    background-attachment: fixed;
}

#tools-menu .unchangable div:hover{
    cursor: not-allowed;
}

#tools-menu textarea{
    width: 100%;
    height: 250px;
}

#tools-menu span.plus, span.minus, span.empty{
    cursor: pointer;
    display: inline-block;
    width: 7px;
    padding: 1px 5px;
}