@CHARSET "UTF-8";
body{
    font-family: arial;	
}

li div{
    border: solid black 1px;
    display: inline-block;	
    padding: 1px;
    cursor: pointer;
}

.disabled div{
    background-color: #CCC;
}

#menus{
    display: flex;
    direction: row;
    justify-content: space-around;
}

.unchangable div{
    background-color: #fafafa;
    background-image: url('../images/background.gif');
    background-attachment: fixed;
}

.unchangable div:hover{
    cursor: not-allowed;
}

textarea{
    width: 100%;
    height: 250px;
}

span.plus, span.minus, span.empty{
    cursor: pointer;
    display: inline-block;
    width: 7px;
    padding: 1px 5px;
}