@CHARSET "UTF-8";


/*Menu part*/

#tools-menu body{
    font-family: arial;	
}

#tools-menu li div{
    border: solid black 1px;
    display: inline-block;	
    padding: 1px;
    cursor: pointer;
    background-color: white;
}

#tools-menu .disabled div{
    background-color: #CCC;
}

#tools-menu #menus{
    display: flex;
    direction: row;
    justify-content: space-around;
}

#tools-menu .unchangable div{
    background-color: #fafafa;
    background-image: url('../images/background.gif');
    background-attachment: fixed;
}

#tools-menu .unchangable div:hover{
    cursor: not-allowed;
}

#tools-menu textarea{
    width: 100%;
    height: 250px;
}

#tools-menu span.plus, span.minus, span.empty{
    cursor: pointer;
    display: inline-block;
    width: 7px;
    padding: 1px 5px;
}

/*Inventory part*/
#tools-inventory body{
    font-family: arial;	
}

#tools-inventory li, #tools-inventory li.no-bull-li{
    list-style-type: none;
}

#tools-inventory span.plus, 
#tools-inventory span.minus, 
#tools-inventory span.delete,
#tools-inventory span.undo{
    cursor: pointer;
}

#tools-inventory .display-block{
    display: block;
}

#tools-inventory .display-none{
    display: none;
}

#tools-inventory .display-inline-block{
    display: inline-block;
}

#tools-inventory #out{
    width: 100%;
    height: 250px;
}

#tools-inventory ul{
    padding-left: 20px;
}

#tools-inventory #content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
#tools-inventory #content>div{
    width: 33%;
}

#tools-inventory  #aliquot-sample .disable{
    background-color: #ccc;
}

#tools-inventory .disable{
    background-color: #ccc;
}

#tools-inventory #aliquot div{
    display: inline-block;
}

#tools-inventory #aliquot ul{
    margin-left: 20px;
}

#tools-inventory #aliquot-sample ul{
    margin: 0px;
}

#tools-inventory #aliquot-sample li div{
    /*background-color: #ccc;*/
    display: inline-block;
}

